<h2 class="text-center">SÁCH BÁN NHIỀU</h2>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="~/Images/KT0007.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                <p>Mô tả sản phẩm là những thông tin về giới thiệu đặc tính chất lượng, chức năng, lợi ích... của một sản phẩm được đăng tải trên trang web bán hàng nhằm mang đến cho người xem thông tin đầy đủ về sản phẩm để họ có cơ sở lựa chọn khi mua hàng.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="~/Images/KT0001.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                <p>Mô tả sản phẩm là những thông tin về giới thiệu đặc tính chất lượng, chức năng, lợi ích... của một sản phẩm được đăng tải trên trang web bán hàng nhằm mang đến cho người xem thông tin đầy đủ về sản phẩm để họ có cơ sở lựa chọn khi mua hàng.</p>
            </div>
        </div> <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="~/Images/KT0002.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                <p>Mô tả sản phẩm là những thông tin về giới thiệu đặc tính chất lượng, chức năng, lợi ích... của một sản phẩm được đăng tải trên trang web bán hàng nhằm mang đến cho người xem thông tin đầy đủ về sản phẩm để họ có cơ sở lựa chọn khi mua hàng.</p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="~/Images/KT0003.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                <p>Mô tả sản phẩm là những thông tin về giới thiệu đặc tính chất lượng, chức năng, lợi ích... của một sản phẩm được đăng tải trên trang web bán hàng nhằm mang đến cho người xem thông tin đầy đủ về sản phẩm để họ có cơ sở lựa chọn khi mua hàng.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="col-sm-3 col-md-4 col-lg-3 col-xs-3">
                <img src="~/Images/KT0007.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                <p>Mô tả sản phẩm là những thông tin về giới thiệu đặc tính chất lượng, chức năng, lợi ích... của một sản phẩm được đăng tải trên trang web bán hàng nhằm mang đến cho người xem thông tin đầy đủ về sản phẩm để họ có cơ sở lựa chọn khi mua hàng.</p>
            </div>
        </div> <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="~/Images/KT0006.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                <p>Mô tả sản phẩm là những thông tin về giới thiệu đặc tính chất lượng, chức năng, lợi ích... của một sản phẩm được đăng tải trên trang web bán hàng nhằm mang đến cho người xem thông tin đầy đủ về sản phẩm để họ có cơ sở lựa chọn khi mua hàng.</p>
            </div>
        </div>
    </div>
</div>
